:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --accent-blue-color: #2196f3;
  --main-text-color: #212121;
  --light-text-color: #757575;
  --transp-text-color: rgba(255, 255, 255, 0.6);
  --accent-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --font-sz14: 14px;
  --font-sz16: 16px;
  --font-sz18: 18px;
  --font-sz26: 26px;
  --font-sz36: 36px;
  --font-sz44: 44px;

  --font-w500: 500;
  --font-w700: 700;
  --font-w900: 900;

  --let-sp02: 0.02em;
  --let-sp03: 0.03em;
  --let-sp06: 0.06em;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-sz14);
  letter-spacing: var(--let-sp02);
  color: var(--main-text-color);
  background-color: var(--white-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Page Index.html  */
/* header */
/* logo  */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: var(--font-sz26);
  line-height: 1.19;
  letter-spacing: var(--let-sp03);
  color: var(--accent-blue-color);
}

.head-logo {
  color: var(--black-color);
}

.foot-logo {
  color: var(--white-color);
}

/* nav  */

.site-nav .link {
  font-weight: var(--font-w500);
  line-height: 1.14;

  color: currentColor;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-blue-color);
}

.site-nav .current {
  color: var(--accent-blue-color);
}

/* contacts  */

.contacts .link {
  line-height: 1.14;

  color: var(--light-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-blue-color);
}

/* Main  */
/* section hero  */

.hero {
  color: var(--white-color);
  background-color: var(--footer-bg-color);
}

.hero-title {
  font-weight: var(--font-w900);
  font-size: var(--font-sz44);
  line-height: 1.36;
  letter-spacing: var(--let-sp06);

  text-align: center;
  text-transform: uppercase;
}

.hero-btn {
  font-family: inherit;
  font-weight: var(--font-w700);
  font-size: var(--font-sz16);
  line-height: 1.88;
  letter-spacing: var(--let-sp06);

  color: var(--white-color);
  background-color: var(--accent-blue-color);
  border-color: transparent;
  cursor: pointer;
}

/* section  */

.section-title {
  font-size: var(--font-sz36);
  line-height: 1.17;
  letter-spacing: var(--let-sp03);

  text-align: center;
}

/* section features  */

.features .title {
  font-size: inherit;
  line-height: 1.14;
  letter-spacing: var(--let-sp03);
  text-transform: uppercase;
}

.features .text {
  line-height: 1.71;
  letter-spacing: var(--let-sp03);

  color: var(--light-text-color);
}

/* section work  */

/* section team  */

.section.team {
  background-color: var(--accent-bg-color);
}

.team-item {
  background-color: var(--white-color);
}

.team-item .title {
  font-weight: 500;
  font-size: var(--font-sz16);
  line-height: 1.19;

  text-align: center;
  letter-spacing: var(--let-sp03);
}

.team-item .text {
  font-size: var(--font-sz16);
  line-height: 1.19;

  text-align: center;
  letter-spacing: var(--let-sp03);

  color: var(--light-text-color);
}

/* footer  */

.footer {
  background-color: var(--footer-bg-color);
}

.footer .link {
  font-style: normal;
}

.footer .link:hover,
.footer .link:focus {
  color: var(--accent-blue-color);
}

.footer .address {
  line-height: 1.71;
  letter-spacing: var(--let-sp03);

  color: var(--white-color);
}

.footer .mail,
.footer .tel {
  line-height: 1.71;
  letter-spacing: var(--let-sp03);
  color: var(--transp-text-color);
}

/* Portfolio.html  */

.galery-filter .btn {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--font-sz16);
  line-height: 1.62;
  letter-spacing: var(--let-sp03);

  color: var(--main-text-color);
  border-color: transparent;
  cursor: pointer;
}

.galery-filter .btn:hover,
.galery-filter .btn:focus {
  color: var(--white-color);
  background-color: var(--accent-blue-color);
}

.btn.active {
  color: var(--white-color);
  background-color: var(--accent-blue-color);
}

.galery-items .title {
  font-size: var(--font-sz18);
  line-height: 2;
  letter-spacing: var(--let-sp06);

  color: var(--main-text-color);
}

.galery-items .text {
  font-size: var(--font-sz16);
  line-height: 1.88;
  letter-spacing: var(--let-sp03);
  
  color: var(--light-text-color);
}

